h6 {
  font-family: "Quicksand", sans-serif !important;
  font-weight: bold !important;
}

.root {
  flex-grow: 1;
  display: block;
}

.appbar {
  background-color: rgba(255, 0, 0, 0.8) !important;
  color: black !important;
}

.image {
  width: 15px;
}
